 /* Summary styles */
 .summary {
    background-color: #0e0f23;
    color: #fff;
    text-align: center;
    padding: 20px 0px 20px 0px;
  }
  
  .summary p {
    font-size: 18px;
    line-height: 1.6;
  }