<header class="header ">
  <div class="header-content">
    <div style="margin-left: 10px;">

      <h1>APISIT PURISAN</h1>
      <h4>I am currently working at MULTITA CO., LTD. as a Junior Developer</h4>
      <h4> with a passion for creating engaging and user-friendly websites </h4>
      <h4> that seamlessly blend aesthetics with functionality,</h4>
      <h4>hope you like it and thank you for your visit.</h4>
      <div class="icon-box">
        <i class="fab fa-linkedin icon"></i>
        <i class="fa-brands fa-github icon"></i>
        <i class="cv-icon ">
        </i>
      </div>
    </div>
    <img src="/assets/picture/profile.png" class="profile-img">
    <div class="cloud-container">
      <div class="cloud01-box">
        <div class="cloud01"></div>
      </div>
    </div>
  </div>
  <div class="footer">

    <div class="link-icon-bar">
      <!-- <i class="fab fa-linkedin icon"></i>
      <i class="fa-brands fa-github icon"></i>
        <i class="cv-icon ">
        </i> -->
    </div>
  </div>
</header>