<section class="skills">
  <div class="skill-detail">
    <h1>FRONT</h1>
    <div>
      <div>
        <h2>Language</h2>
        <h3>PHP , HTML , Java Script , Type Script </h3>
      </div>
      <div>
        <h2>FrameWork</h2>
        <h3>React , Angular </h3>
      </div>

      <div>
        <h2>Tool</h2>
        <h3>DevExtreme , Sycnfusion , Chat-GPT</h3>

      </div>


    </div>


    <h1>BACK</h1>
    <div>
      <div>
        <h2>Language</h2>
        <h3>C#, Java , Java Script, SQL </h3>
      </div>
      <div>
        <h2>FrameWork</h2>
        <h3>Entity</h3>
      </div>

      <div>
        <h2>Tool</h2>
        <h3> Chat-GPT</h3>

      </div>
    </div>
    <h1>OTHER</h1>
    <div class="other-skill">
      <div>
        <h2>Design</h2>
        <h3>Not good at this</h3>
      </div>
      <div>
        <h2>Learning</h2>
        <h3>Learns quickly and  good at searching</h3>
      </div>
      <div>
        <h2>Language</h2>
        <h3>Speak and read well, but write poorly</h3>
      </div>
      <div>
        <h2>Guitar</h2>
        <h3>Power chord can't solo</h3>
      </div>
      <div>
        <h2>Dota2</h2>
        <h3>Good at pos 5</h3>
      </div>
      <div>
        <h2>Work together</h2>
        <h3>Get along with everyone</h3>
      </div>
    </div>
  </div>
  <div style="position: relative;">
    <div class="skill-chart">
    </div>
    
  </div>
</section>