<div class="box">
  <div class="containner">

    <h1 class="header-text">Experience</h1>
    <div class="experience">

      <!-- MULTITA CO., LTD. -->
      <div>
        <h4 class="compane">MULTITA CO., LTD.</h4>
        <div class="grid-box">
          <div class="timeline">
            <span class="time-y">Present</span>
            <div class="time-line-img">
            </div>
            <span class="time-y">July 2022</span>
          </div>
          <div class="info-text">
            <span>Working as a developer, My first assignment was to validate the conversion from Oracle SQL to
              PostgreSQL. Next, I developed a web application using the Front-End frameworks angular and DevExtreme,
              While the Back-End uses the C# .NET core Entity framework. I have worked on the Back-End team, but most of
              my work is on features and decorating web pages.</span>
          </div>
        </div>
      </div>

      <div>
        <h4 class="compane">Additionnal Job( BMA OSS )</h4>
        <div class="grid-box">
          <div class="timeline">
            <span class="time-y">Present</span>
            <div class="time-line-img">
            </div>
            <span class="time-y">February 2023</span>
          </div>
          <div class="info-text">Participate in the creation of the responsive, Aesthetically pleasing, And functional
            BMA OSS web application. using the Front-End frameworks angular and DevExtreme.
            <div class="tag-link" onclick="window.open('https:bmaoss.bangkok.go.th/index','mywindow');" >
              BMA OSS
            </div>
          </div>

        </div>
      </div>

      <div>
      </div>

      <div>
        <h4 class="compane">Additionnal Job( Online Course )</h4>
        <div class="grid-box">
          <div class="timeline">
            <span class="time-y">September 2022</span>
            <div class="time-line-img">
            </div>
            <span class="time-y">
              June 2022</span>
          </div>
          <div class="info-text">Participate in development use the PHP and SQL.
            <div class="tag-link" onclick="window.open('https:up2uschool.com','mywindow');" >
              Up2 U School
            </div>
          </div>
        </div>
      </div>

      <div></div>
      <div></div>

      <div>
        <h4 class="compane">SCMS Technologies(Intern)</h4>
        <div class="grid-box">
          <div class="timeline">
            <span class="time-y">January 2021</span>
            <div class="time-line-img">
            </div>
            <span class="time-y">
              October 2020</span>
          </div>
          <div class="info-text"> Website Develop using Angular</div>
        </div>
      </div>
    </div>
  </div>
  <div class="earth-position" > 

    <div class="earth">
    
    </div>
  </div>
</div>

